<h3>{{ title }}</h3>
<div class="whats-my-ip">
  {% if ip %}
    <p class="ip"></p>
  {% endif %}

  {% if country %}
    <p class="country"></p>
  {% endif %}

  {% if coords %}
    <p class="coords"></p>
  {% endif %}
</div>
